---
import Heading from "../components/Heading.astro";
import MainWrapper from "../layouts/MainWrapper.astro";

---

<MainWrapper>

	<Heading tagName="h1" size="base5" weight="bold" family="sans"  classes="" id="top">BOLD Neat new page</Heading>

	<Heading tagName="h4" size="base5" weight="black" family="sans"  classes="" id="top">BLACK Neat new page</Heading>

	<Heading tagName="h4" size="base5" weight="regular" family="sans"  classes="" id="top">Regular Neat new page</Heading>

	<Heading tagName="h4" size="base2" weight="light" family="sans"  classes="" id="top">Light Neat new page</Heading>
	
	<img src="https://as.cornell.edu/sites/default/files/styles/4_5/public/2024-04/2024-04-dvj-disident-writers-v2-crop-web.png?h=8f03465d&itok=BZ8sRpr0" alt="a;skldj;alskdfjf;alskdjf" style="float: right;">
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit reiciendis aspernatur obcaecati cupiditate, voluptas autem repudiandae ut odio sapiente assumenda dicta quod enim itaque voluptatibus facilis magnam? Harum aliquam nostrum, excepturi praesentium non hic voluptas omnis amet libero facere incidunt ea adipisci quibusdam magnam laboriosam nam, sapiente esse similique. Libero commodi, eligendi amet rerum ducimus exercitationem quod. </p>
	<ul>
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, amet!</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, sapiente!</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, sapiente!</li>
	</ul>
	<ul class="nav">
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, amet!</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, sapiente!</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, sapiente!</li>
	</ul>
</MainWrapper>